@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800);

@font-face {
    font-family: 'viro';
    src: url('../../fonts/viro.eot');
    src: url('../../fonts/viro.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/viro.woff') format('woff'),
         url('../../fonts/viro.ttf') format('truetype'),
         url('../../fonts/viro.svg#viroregular') format('svg');
}

body {
  font-family: @body-font-family;
  color: @body-color;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: @heading-font-family;
  font-weight: bold;
  line-height: 1.1;
  color: @heading-color;
}
